---
version: 2
updates:
  # Maven
  -
    package-ecosystem: "gradle"
    target-branch: main
    directory: /
    labels:
      - "dependabot"
      - "dependencies"
    schedule:
      interval: "daily"

  # Github Actions
  -
    package-ecosystem: "github-actions"
    target-branch: main
    directory: /
    labels:
      - "dependabot"
      - "github-actions"
    schedule:
      interval: "daily"

  # Docker
  -
    package-ecosystem: "docker"
    target-branch: main
    directory: ./edc-controlplane/edc-controlplane-postgresql-hashicorp-vault/src/main/docker/
    labels:
      - "dependabot"
      - "docker"
    schedule:
      interval: "daily"
  -
    package-ecosystem: "docker"
    target-branch: main
    directory: ./edc-controlplane/edc-controlplane-postgresql/src/main/docker/
    labels:
      - "dependabot"
      - "docker"
    schedule:
      interval: "daily"
  -
    package-ecosystem: "docker"
    target-branch: main
    directory: ./edc-controlplane/edc-controlplane-memory/src/main/docker/
    labels:
      - "dependabot"
      - "docker"
    schedule:
      interval: "daily"
  -
    package-ecosystem: "docker"
    target-branch: main
    directory: ./edc-dataplane/edc-dataplane-azure-vault/src/main/docker/
    labels:
      - "dependabot"
      - "docker"
    schedule:
      interval: "daily"
  -
    package-ecosystem: "docker"
    target-branch: main
    directory: ./edc-dataplane/edc-dataplane-hashicorp-vault/src/main/docker/
    labels:
      - "dependabot"
      - "docker"
    schedule:
      interval: "daily"
