#
#  Copyright (c) 2023 Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
#  Copyright (c) 2021, 2023 Contributors to the Eclipse Foundation
#
#  See the NOTICE file(s) distributed with this work for additional
#  information regarding copyright ownership.
#
#  This program and the accompanying materials are made available under the
#  terms of the Apache License, Version 2.0 which is available at
#  https://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#  License for the specific language governing permissions and limitations
#  under the License.
#
#  SPDX-License-Identifier: Apache-2.0
#

## This file can be used to verify that the chart is working properly. It provides an exemplary configuration
## that is intended to be used with the supporting infrastructure.
## 1. install DAPS:
##  helm install infrastructure edc-tests/deployment/src/main/resources/helm/test-infrastructure \                                                                                                                 ─╯
##    --wait-for-jobs
##
## 2. install in-mem runtime. Note that the key and crt must match exactly the DAPS setup, c.f. edc-tests/deployment/src/main/resources/helm/test-infrastructure/values.yaml
##  export DAPSKEY="<private-key-content>"
##  export DAPSCRT="<certificate-content>"
##  export YOUR_VAULT_SECRETS="daps-key:$DAPSKEY;daps-crt:$DAPSCRT"
##  helm install trudy charts/tractusx-connector-memory -f charts/tractusx-connector-memory/example.yaml --set vault.secrets=$YOUR_VAULT_SECRETS

fullnameOverride: tx-inmem
runtime:
  service:
    type: NodePort
  endpoints:
    data:
      authKey: password
  image:
    pullPolicy: Never
    tag: "latest"
    repository: "edc-runtime-memory"
  securityContext:
    # avoids some errors in the log: cannot write temp files of large multipart requests when R/O
    readOnlyRootFilesystem: false

vault:
  secretNames:
    transferProxyTokenSignerPublicKey: daps-crt
    transferProxyTokenSignerPrivateKey: daps-key
    transferProxyTokenEncryptionAesKey: aes-keysc
    dapsPrivateKey: daps-key
    dapsPublicKey: daps-crt

  # this must be set through CLI args: --set vault.secrets=$YOUR_VAULT_SECRETS where YOUR_VAULT_SECRETS should
  # be a string in the format "key1:secret1;key2:secret2;..."
  secrets:

daps:
  url: "http://ids-daps:4567"
  clientId: "E7:07:2D:74:56:66:31:F0:7B:10:EA:B6:03:06:4C:23:7F:ED:A6:65:keyid:E7:07:2D:74:56:66:31:F0:7B:10:EA:B6:03:06:4C:23:7F:ED:A6:65"

backendService:
  httpProxyTokenReceiverUrl: "http://backend:8080"
