#
  #  Copyright (c) 2023 ZF Friedrichshafen AG
  #  Copyright (c) 2023 Mercedes-Benz Tech Innovation GmbH
  #  Copyright (c) 2023 Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
  #  Copyright (c) 2021,2023 Contributors to the Eclipse Foundation
  #
  #  See the NOTICE file(s) distributed with this work for additional
  #  information regarding copyright ownership.
  #
  #  This program and the accompanying materials are made available under the
  #  terms of the Apache License, Version 2.0 which is available at
  #  https://www.apache.org/licenses/LICENSE-2.0
  #
  #  Unless required by applicable law or agreed to in writing, software
  #  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  #  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  #  License for the specific language governing permissions and limitations
  #  under the License.
  #
  #  SPDX-License-Identifier: Apache-2.0
  #

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "txdc.fullname" . }}
  labels:
    {{- include "txdc.runtime.labels" . | nindent 4 }}
spec:
  {{- if not .Values.runtime.autoscaling.enabled }}
  replicas: {{ .Values.runtime.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "txdc.runtime.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.runtime.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "txdc.runtime.selectorLabels" . | nindent 8 }}
        {{- with .Values.runtime.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "txdc.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.runtime.podSecurityContext | nindent 8 }}
      {{- if or .Values.runtime.initContainers .Values.customCaCerts }}
      initContainers:
        {{- if .Values.runtime.initContainers }}
        {{- toYaml .Values.runtime.initContainers | nindent 8 }}
        {{- end }}
        {{- if .Values.customCaCerts }}
        - name: custom-cacerts
          # either use the specified image, or use the default one
          {{- if .Values.runtime.image.repository }}
          image: "{{ .Values.runtime.image.repository }}:{{ .Values.runtime.image.tag | default .Chart.AppVersion }}"
          {{- else }}
          image: "tractusx/edc-runtime-memory:{{ .Values.runtime.image.tag | default .Chart.AppVersion }}"
          {{- end }}
          imagePullPolicy: {{ .Values.runtime.image.pullPolicy }}
          command:
            - /bin/sh
            - -c
            - |
              cp /opt/java/openjdk/lib/security/cacerts /workdir/
              find /cacerts -type f \( -iname \*.crt -o -iname \*.pem \) -exec echo "{}" \; | while read PEM_FILE_PATH; do
                PEM_FILE=${PEM_FILE_PATH##*/}
                ALIAS=${PEM_FILE%.*}
                echo "adding ${PEM_FILE} with alias ${ALIAS} to cacerts ..."
                keytool -import -noprompt -trustcacerts -alias ${ALIAS} -file ${PEM_FILE_PATH} -keystore /workdir/cacerts -storepass changeit
              done
          securityContext:
            {{- toYaml .Values.runtime.securityContext | nindent 12 }}
          volumeMounts:
            - name: custom-cacertificates
              mountPath: /cacerts
            - name: custom-cacerts
              mountPath: /workdir
        {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.runtime.securityContext | nindent 12 }}
          # either use the specified image, or use the default one
          {{- if .Values.runtime.image.repository }}
          image: "{{ .Values.runtime.image.repository }}:{{ .Values.runtime.image.tag | default .Chart.AppVersion }}"
          {{- else }}
          image: "tractusx/edc-runtime-memory:{{ .Values.runtime.image.tag | default .Chart.AppVersion }}"
          {{- end }}

          imagePullPolicy: {{ .Values.runtime.image.pullPolicy }}
          args: [ --log-level={{ .Values.runtime.logs.level | required ".Values.runtime.logs.level is required" }} ]
          ports:
          {{- range $key,$value := .Values.runtime.endpoints }}
            - name: {{ $key }}
              containerPort: {{ $value.port }}
              protocol: TCP
          {{- end }}
          {{- if .Values.runtime.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.runtime.endpoints.default.path }}/check/liveness
              port: {{ .Values.runtime.endpoints.default.port }}
            initialDelaySeconds: {{ .Values.runtime.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.runtime.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.runtime.livenessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.runtime.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.runtime.livenessProbe.successThreshold }}
          {{- end }}
          {{- if .Values.runtime.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.runtime.endpoints.default.path }}/check/readiness
              port: {{ .Values.runtime.endpoints.default.port }}
            initialDelaySeconds: {{ .Values.runtime.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.runtime.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.runtime.readinessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.runtime.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.runtime.readinessProbe.successThreshold }}
          {{- end }}
          resources:
            {{- toYaml .Values.runtime.resources | nindent 12 }}
          env:
          {{- if .Values.runtime.debug.enabled }}
            - name: "JAVA_TOOL_OPTIONS"
            {{- if .Values.runtime.debug.suspendOnStart }}
              value: >-
                {{ printf "-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=%v" .Values.runtime.debug.port }}
            {{- else }}
              value: >-
                {{ printf "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=%v" .Values.runtime.debug.port }}
            {{- end }}
          {{- end }}

            ########################
            ## ID CONFIGURATION ##
            ########################
            - name: EDC_PARTICIPANT_ID
              value: {{ .Values.participant.id | required ".Values.participant.id is required" | quote }}
            - name: "EDC_IAM_ISSUER_ID"
              value: {{ .Values.iatp.id | required ".Values.iatp.id is required" | quote}}

            #######
            # API #
            #######
            {{- if .Values.runtime.endpoints.management.jwksUrl }}
            - name: "WEB_HTTP_MANAGEMENT_AUTH_DAC_KEY_URL"
              value: {{ .Values.runtime.endpoints.management.jwksUrl | quote}}
            {{- else }}
            - name: "EDC_HTTP_MANAGEMENT_AUTH_KEY"
              value: {{ .Values.runtime.endpoints.management.authKey | required ".Values.controlplane.endpoints.management.authKey is required" | quote }}
            {{- end }}

            - name: "TX_EDC_DPF_CONSUMER_PROXY_AUTH_APIKEY"
              value: {{ .Values.runtime.endpoints.proxy.authKey | required ".Values.runtime.endpoints.proxy.authKey is required" | quote }}
            - name: "WEB_HTTP_PORT"
              value: {{ .Values.runtime.endpoints.default.port | quote }}
            - name: "WEB_HTTP_PATH"
              value: {{ .Values.runtime.endpoints.default.path | quote }}
            {{- if or (eq (substr 0 3 .Values.runtime.image.tag) "0.1") (eq (substr 0 3 .Values.runtime.image.tag) "0.2") }}
            # WEB_HTTP_DATA_PORT is renamed to WEB_HTTP_MANAGEMENT_PORT from version 0.2.1 and newer
            # we will keep both settings for downward capabilities
            - name: "WEB_HTTP_DATA_PORT"
              value: {{ .Values.runtime.endpoints.management.port | quote }}
            # WEB_HTTP_DATA_PATH is renamed to WEB_HTTP_MANAGEMENT_PATH from version 0.2.1 and newer
            # we will keep both settings for downward capabilities
            - name: "WEB_HTTP_DATA_PATH"
              value: {{ .Values.runtime.endpoints.management.path | quote }}
            {{- else }}
            - name: "WEB_HTTP_MANAGEMENT_PORT"
              value: {{ .Values.runtime.endpoints.management.port | quote }}
            - name: "WEB_HTTP_MANAGEMENT_PATH"
              value: {{ .Values.runtime.endpoints.management.path | quote }}
            {{- end }}
            - name: "WEB_HTTP_CONTROL_PORT"
              value: {{ .Values.runtime.endpoints.control.port | quote }}
            - name: "WEB_HTTP_CONTROL_PATH"
              value: {{ .Values.runtime.endpoints.control.path | quote }}
            - name: "WEB_HTTP_PROTOCOL_PORT"
              value: {{ .Values.runtime.endpoints.protocol.port | quote }}
            - name: "WEB_HTTP_PROTOCOL_PATH"
              value: {{ .Values.runtime.endpoints.protocol.path | quote }}
            - name: "WEB_HTTP_PUBLIC_PORT"
              value: {{ .Values.runtime.endpoints.public.port | quote }}
            - name: "WEB_HTTP_PUBLIC_PATH"
              value: {{ .Values.runtime.endpoints.public.path | quote }}
            - name: "WEB_HTTP_CATALOG_PORT"
              value: {{ .Values.runtime.endpoints.catalog.port | quote }}
            - name: "WEB_HTTP_CATALOG_PATH"
              value: {{ .Values.runtime.endpoints.catalog.path | quote }}
            - name: "WEB_HTTP_CATALOG_AUTH_TYPE"
              value: "tokenbased"
            - name: "WEB_HTTP_CATALOG_AUTH_KEY"
              value: {{ .Values.runtime.endpoints.catalog.authKey | required ".Values.runtime.endpoints.catalog.authKey is required" | quote }}

            #########
            ## DSP ##
            #########

            - name: "EDC_DSP_CALLBACK_ADDRESS"
              value: {{ printf "%s%s" (include "txdc.runtime.url.protocol" .) .Values.runtime.endpoints.protocol.path | quote }}
            - name: "EDC_OAUTH_PROVIDER_AUDIENCE"
              value: "idsc:IDS_CONNECTORS_ALL"
            - name: "EDC_OAUTH_ENDPOINT_AUDIENCE"
              value: {{ printf "%s%s" (include "txdc.runtime.url.protocol" . ) .Values.runtime.endpoints.protocol.path | quote }}
            - name: "EDC_DCP_V08_FORCED"
              value: "true"

            #############################
            ## IATP / STS / DIM CONFIG ##
            #############################
            - name: "EDC_IAM_STS_OAUTH_TOKEN_URL"
              value: {{ .Values.iatp.sts.oauth.token_url | required ".Values.iatp.sts.oauth.token_url is required" | quote}}
            - name: "EDC_IAM_STS_OAUTH_CLIENT_ID"
              value: {{ .Values.iatp.sts.oauth.client.id | required ".Values.iatp.sts.oauth.client.id is required" | quote}}
            - name: "EDC_IAM_STS_OAUTH_CLIENT_SECRET_ALIAS"
              value: {{ .Values.iatp.sts.oauth.client.secret_alias | required ".Values.iatp.sts.oauth.client.secret_alias is required" | quote}}

            {{- if .Values.iatp.sts.dim.url }}
            - name: "TX_EDC_IAM_STS_DIM_URL"
              value: {{ .Values.iatp.sts.dim.url | quote}}
            {{- end}}

            {{- range $index, $issuer := .Values.iatp.trustedIssuers }}
            - name: "EDC_IAM_TRUSTED-ISSUER_{{$index}}-ISSUER_ID"
              value: {{ $issuer | quote }}
            {{- end }}

            #################
            ## BDRS CLIENT ##
            #################

            - name: "TX_IAM_IATP_BDRS_SERVER_URL"
              value: {{ .Values.runtime.bdrs.server.url | required ".Values.runtime.bdrs.server.url is required" | quote }}
            {{- if .Values.runtime.bdrs.cache_validity_seconds }}
            - name: "TX_IAM_IATP_BDRS_CACHE_VALIDITY"
              value: {{ .Values.runtime.bdrs.cache_validity_seconds | quote}}
            {{- end}}

            ################
            ## DATA PLANE ##
            ################
            - name: "EDC_DATAPLANE_API_PUBLIC_BASEURL"
              value: {{ include "txdc.dataplane.url.public" . }}


            ##################
            ## TOKEN REFRESH
            ##################
            {{- if .Values.runtime.token.refresh.expiry_seconds }}
            - name: "TX_EDC_DATAPLANE_TOKEN_EXPIRY"
              value: {{ .Values.runtime.token.refresh.expiry_seconds | quote}}
            {{- end}}

            {{- if .Values.runtime.token.refresh.expiry_tolerance_seconds }}
            - name: "TX_EDC_DATAPLANE_TOKEN_EXPIRY_TOLERANCE"
              value: {{ .Values.runtime.token.refresh.expiry_tolerance_seconds | quote }}
            {{- end}}

            {{- if .Values.runtime.token.refresh.refresh_endpoint }}
            - name: "TX_EDC_DATAPLANE_TOKEN_REFRESH_ENDPOINT"
              value: {{ .Values.runtime.token.refresh.refresh_endpoint }}
            {{- else }}
            - name: "TX_EDC_DATAPLANE_TOKEN_REFRESH_ENDPOINT"
              value: {{ include "txdc.dataplane.url.public" . }}/token
            {{- end}}

            - name: "EDC_TRANSFER_PROXY_TOKEN_SIGNER_PRIVATEKEY_ALIAS"
              value: {{ .Values.runtime.token.signer.privatekey_alias | required ".Values.runtime.token.signer.privatekey_alias is required" | quote}}

            - name: "EDC_TRANSFER_PROXY_TOKEN_VERIFIER_PUBLICKEY_ALIAS"
              value: {{ .Values.runtime.token.verifier.publickey_alias | required ".Values.runtime.token.verifier.publickey_alias" | quote }}


            ###########
            ## VAULT ##
            ###########

            # see extension https://github.com/eclipse-tractusx/tractusx-edc/tree/develop/edc-extensions/hashicorp-vault
            - name: "EDC_VAULT_SECRETS"
              value: {{ .Values.vault.secrets | quote}}


            ###############################
            ## FEDERATED CATALOG CRAWLER ##
            ###############################
            {{- if .Values.runtime.catalog.crawler.period }}
            - name: "EDC_CATALOG_CACHE_EXECUTION_PERIOD_SECONDS"
              value: {{ .Values.runtime.catalog.crawler.period | quote}}
            {{- end }}

            {{- if .Values.runtime.catalog.crawler.initialDelay }}
            - name: "EDC_CATALOG_CACHE_EXECUTION_DELAY_SECONDS"
              value: {{ .Values.runtime.catalog.crawler.initialDelay | quote }}
            {{- end }}

            {{- if .Values.runtime.catalog.crawler.num }}
            - name: "EDC_CATALOG_CACHE_PARTITION_NUM_CRAWLERS"
              value: {{ .Values.runtime.catalog.crawler.num }}
            {{- end }}

            - name: "EDC_CATALOG_CACHE_EXECUTION_ENABLED"
              value: {{ .Values.runtime.catalog.enabled | quote }}

            - name: "TX_EDC_CATALOG_NODE_LIST_FILE"
              value: {{ .Values.runtime.catalog.crawler.targetsFile }}

            ###################
            ## POLICY ENGINE ##
            ###################
            - name: "EDC_POLICY_VALIDATION_ENABLED"
              value: {{ .Values.runtime.policy.validation.enabled | quote }}

            ######################################
            ## Additional environment variables ##
            ######################################
          {{- range $key, $value := .Values.runtime.envValueFrom }}
            - name: {{ $key | quote }}
              valueFrom:
                {{- tpl (toYaml $value) $ | nindent 16 }}
          {{- end }}
          {{- range $key, $value := .Values.runtime.env }}
            - name: {{ $key | quote }}
              value: {{ $value | quote }}
          {{- end }}
          {{- if and (or .Values.runtime.envSecretNames .Values.runtime.envConfigMapNames) (or (gt (len .Values.runtime.envSecretNames) 0) (gt (len .Values.runtime.envConfigMapNames) 0)) }}
          envFrom:
          {{- range $value := .Values.runtime.envSecretNames }}
            - secretRef:
                name: {{ $value | quote }}
          {{- end }}
          {{- range $value := .Values.runtime.envConfigMapNames }}
            - configMapRef:
                name: {{ $value | quote }}
          {{- end }}
          {{- end }}
          volumeMounts:
            {{- if .Values.customCaCerts }}
            - name: custom-cacerts
              mountPath: /opt/java/openjdk/lib/security/cacerts
              subPath: cacerts
            {{- end }}
            - name: "tmp"
              mountPath: "/tmp"
      volumes:
        {{- if .Values.customCaCerts }}
        - name: custom-cacertificates
          configMap:
            name: {{ include "txdc.fullname" . }}-custom-cacerts
            defaultMode: 0400
        - name: custom-cacerts
          emptyDir:
            sizeLimit: 1Mi
        {{- end }}
        - name: "tmp"
          emptyDir: { }
      {{- with .Values.runtime.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.runtime.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.runtime.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
